.header
{
    height: 140vh;
}

.zayvki
{
    width: 100%;
}
.zayvki--block
{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
/*
background: #299986 url('/img/img--back/1627190118_13-kartinkin-com-p-serii-fon-volni-krasivo-13.png');
    background-repeat: no-repeat;
    background-size: cover;
*/
.zayvki--moi
{
    box-shadow: 14px 28px 28px 14px rgba(0, 0, 0, .2), 10px 10px 10px 10px rgba(0, 0, 0, .2); 
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
}
.zayvki--pathTime
{
    height: 10vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.time--block
{
    display: flex;
    justify-content: space-between;
}
.path--block
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.zayvki--pathClass
{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.class--block
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.price--block
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn--block
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.time
{
    font-size: 3vh;
}
.path
{
    font-size: 1.8vh;
}
.class
{
   font-size: 3vh; 
}
.price
{
    font-size: 2.5vh;
}
.zayvki--btn
{
    font-size: 2.5vh;
    background-color: #ca2f1b;
    padding: 5px;
    border-radius: 10px;
    color: white;
}
.line
{   height: 10vh;
    border-right: 2px solid black ;
}
#zayvki
{
    display: none;
}